@use "../../styles/mixins" as *;

.sign-in {
  background-color: $light-pink;
  margin-top: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 66rem;

  &__field-title {
    margin-bottom: 0.1rem;
  }

  &__form-fields {
    border-radius: 1rem;
    border: none;
    padding: 0.7rem;
  }

  &__button {
    border-radius: 1rem;
    width: fit-content;
    height: 2rem;
    background: white;
    border: none;
    background-color: $beige;
    color: $purple;
    padding: 0.7rem;
    margin-top: 1rem;
  }
}
