@use "../..//styles/mixins" as *;

.bean-form {
  width: fit-content;
  z-index: 3000;
  background-color: #fff8f7;
  position: absolute;
  left: 0.3rem;
  padding: 1.5rem;
  box-shadow: 5px 4px 8px 0px grey;
  border: 0.2rem $light-pink;
  &__rating-images {
    width: 2rem;
    margin: 0.4rem;
  }

  &__comments {
    width: 16rem;
    height: 12rem;
  }

  &__button {
    border-radius: 1rem;
    width: fit-content;
    height: 2rem;
    background: white;
    border: none;
    background-color: $light-purple;
    color: $beige;
    padding: 0.7rem;
  }

  &--edit {
    @extend .bean-form;
    top: 20rem;
  }
}
